body {
    font-family: 'Playfair Display', sans-serif;
    display: block;
}

.quiz-container {
    width: 800px;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    border-radius: 8px;
    margin-top: 100px;
    margin-left: 380px;
    padding: 30px 60px;
}

.quiz-container .active-question-no {
    font-size: 32px;
    font-weight: 500;
    color: #4d4231;
}

.quiz-container .total-question {
    font-size: 16px;
    font-weight: 500;
    color: #827A6E;
}

.quiz-container h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.quiz-container ul {
    margin-top: 20px;
    margin-left: 0px;
}

.quiz-container ul li {
    text-decoration: none;
    list-style: none;
    color: #4d4231;
    font-size: 16px;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 16px;
    padding: 11px;
    margin-top: 15px;
}

.quiz-container ul .selected-answer {
    background: #EDECEA;
    border: 1px solid #827A6E;
}

.quiz-container button {
    background: linear-gradient(90.04deg, #827A6E 50%, #4d4231 99.96%);
    border-radius: 9px;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 42px;
    outline: none;
    border: none;
    margin-top: 15px;
}

.quiz-container button:disabled {
    background: #e7e8e9;
    color: #9fa3a9;
    cursor: not-allowed;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.result h3 {
    font-size: 24px;
    letter-spacing: 1.4px;
    text-align: center;
}

.result h2 {
    font-size: 20px;
    font-weight: 600;
}

.result h2 span {
    color: #4d4231;
    font-size: 22px;
}

.result button {
    background: linear-gradient(90.04deg, #827A6E 50%, #4d4231 99.96%);
    border-radius: 9px;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 42px;
    outline: none;
    border: none;
    margin-left: 500px;
    margin-top: 15px;
}